.navbar {
  background-color: #EEE8AA;
}
.color-change {
  color: orange;
}
.navbar-brand {
  padding: 12px 0px;
  font-size: 25px;
 font-weight: bold;
 margin-left: 2px;
}
.doctor .container h5 {
  font-size: 30px;
}
.main-page {
  margin-top: 10px;
}
.links {
  width: 50%;
  margin: 0 auto;
}
.links .mr-auto .nav-link {
  padding-right: 80px;
  font-size: 20px;
  color: #000;
}
.logins .nav-link {
  display: inline;
  text-decoration: none;
  color: #000;
}
.doctorList .container .search{
  float: right;
}
.main-page {
  margin-top: 10px;
}

.footer {
  background-color: grey;
  position: absolute;
  bottom:0;
  width:100%;
  clear: both;
}
.footer p {
  padding: 15px 0px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

@media only screen and (max-width: 992px) {
  .links {
    width: 100%;
    margin: 0 auto;
  }

  .logins .nav-link {
    display: block;
    margin: 0 auto;
  }
  
}

@media only screen and (max-width: 809px) {
  .links {
    width: 100%;
    margin: 0 auto;
  }

  .logins .nav-link {
    display: block;
    margin: 0 auto;
  }
  
}